form {
    border: 1px solid #545454;
    border-radius: 3px;
}

input {
    padding: 2% 5%;
    width: 100%;
    line-height: 15px;
    margin: 10px 0;
    font-size: 20px;
}

.button {
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    background: #00a2b2;
    border: 0;
    border-radius: 5px;
    color: white;
    height: 50px;

    &:hover {
    	background: #03c6d9;
    }
}
